#app {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.clickable {
  margin: 20px;
  padding: 5px;
  border-radius: 2px;
  max-width: fit-content;

  &:hover {
    cursor: pointer;
    background: azure;
  }
}

header {
  width: 100%;
  text-align: center;
}

.error {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  color: darkred;
  background: beige;
}

.loading {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  color: darkblue;
  background: beige;
}
